<app-empa-navbars></app-empa-navbars>
  <div class="new-font main-panel">
    <div class="home-panel">
        <img src="assets/empanadas-de-carne-768x1024.jpg" class="main-image-size">
        <div class="text-location">
            <h1 class="new-font text-location font-color">¡Bienvenido a BoomEmpanadas!</h1>
          <p class="new-font font-size-title">Disfruta de las mas deliciosas empanadas preparadas con los mejores ingredientes.</p>
        </div>
    </div>
  </div>
<app-empa-footer></app-empa-footer>
