@import 'src/scss/colors';

.main-image-size {
  height: 95%;
}

.home-panel {
  display:grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 10px;
  max-width: 1000px;
  width: 100%;
  height: 500px;
}

.text-location {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

