<app-empa-navbars></app-empa-navbars>
<div class="main-panel">
<form class="form-layout">
  <div class="div-layout">
    <div class="imgcontainer">
      <img src="assets/empa-icon3.png" alt="Avatar" class="avatar"> 
    </div>
    <label class="new-font font-color-two text-alignment"for="uname"><b>Usuario</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label class="new-font font-color-two text-alignment" for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Ingresar</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  <div class="form-layout">
    <button type="button" >Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> 
</div>
<app-empa-footer></app-empa-footer>
