<app-empa-navbars></app-empa-navbars>
<div class="main-panel">
  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="submitLogin()" >
    <img src="assets/empa-icon3.png" alt="Avatar" class="avatar">
    <div class="input-container">
      <label class="new-font font-color label-style">Email</label>
      <input class="input-style font-color" type="email" formControlName="email">
    </div>
    <div class="input-container">
        <label class="new-font font-color label-style">Password</label>
        <input class="input-style font-color" type="password" formControlName="password">
      </div>
    <button class="new-font font-size-title button-style" type="submit" [disabled]="!loginForm.valid" >Ingresar</button>
  </form>
</div>
<app-empa-footer></app-empa-footer>
