@import 'src/scss/colors';
@import './equalizer.scss';

.new-font {
    font-family: 'Fredoka One', normal;
    color:$light-color;
}

.font-color {
    color:$secundary-color;
}

.font-color-two {
    color:$fourth-color;
}

.font-size-title {
    font-size: 25px;
    color:$primary-color;
    text-align:justify;
    margin-top: 30px;
}

.main-panel {
    margin-top: 140px;
    display: flex;
    justify-content: center;
  }
