@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
 
$equalizer-black: black;
$equalizer-grey: #999;

@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Modak&display=swap');
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: 'Nunito', sans-serif;
  font-family: 'Fredoka One', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
 
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: $equalizer-black;
  display: inline-block;
  font-weight: 400;
  margin: 0;
 
  &:focus {
    outline: none;
  }
}
 
select {
 -moz-appearance: none;
 -webkit-appearance: none;
}
 
table {
  border-collapse: collapse;
  table-layout: fixed;
}
 
input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
button {
  background: transparent;
  cursor: pointer;
}
 
button::-moz-focus-inner {
  border: 0;
}
 
a {
  cursor: pointer;
  text-decoration: none;
 
  &:focus,
  &:active,
  &:hover {
    color: $equalizer-black;
    text-decoration: none;
  }
}
 
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
::placeholder {
  color: $equalizer-grey;
  opacity: 1;
}